@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-perspective {
  transform: rotateY(300deg) rotateX(20deg);
}

.perspective-container {
  --perspective: 750px;
  --perspective-origin: 50% 50%;
  perspective: var(--perspective);
  perspective-origin: var(--perspective-origin);
  -webkit-perspective: var(--perspective);
  -webkit-perspective-origin: var(--perspective-origin);
  -moz-perspective: var(--perspective);
  -moz-perspective-origin: var(--perspective-origin);
}


.animate-scroll {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-range: entry 25% cover 75%;

  animation-timeline: --image;
  animation-name: show-hero-image;
  animation-fill-mode: both;
}

.animate-from-above {
  animation-name: from-above;
  animation-duration: 1000ms;
}

.timeline-features {
  view-timeline-name: --features;
  view-timeline-axis: block;
}

.animate-scroll-from-above {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-range: entry 0% cover 80%;

  animation-timeline: --image;
  animation-name: from-above;
  animation-fill-mode: forwards;
}

.animate-scroll-from-below {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-range: entry 0% cover 80%;

  animation-timeline: --image;
  animation-name: from-below;
  animation-fill-mode: forwards;
}

.animate-scroll-fade {
  view-timeline-name: --fade;
  view-timeline-axis: block;
  animation-range-start: 50%;
  animation-range-end: 90%;

  animation-timeline: --fade;
  animation-name: fade;
  animation-fill-mode: both;
}

@keyframes show-hero-image {
  0% {
    opacity: .25;
    transform: rotateY(35deg) rotateX(18deg) scale(1.1) translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: rotateY(5deg) rotateX(5deg) scale(1) translate3d(0, 0, 100px);
  }
}

@keyframes from-above {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes from-below {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}